{#**************************************************************************************************************************************#}
{% extends 'base.html.twig' %}
{#**************************************************************************************************************************************#}

{% block title %}{% endblock %}

{% block body %}


	{#**************************************************************************************************************************************#}
	{# les différents liens vers les services#}

	{% set RELATED = 'Evaluation' %}


	{% set PLACEHOLDER = 'Trouver une évaluation' %}

	{% set ADD = 'EAdd' %}
	{% set DELETEALL = 'EDeleteAll' %}
	{% set GET = 'EGet' %}
	{% set EDIT = 'EEdit' %}
	{% set DELETE = 'EDelete' %}
	{% set ALLOW = 'EAllow' %}


{{ include('includes/getAll.html.twig')  | raw}}</div>

{#**************************************************************************************************************************************#}
{#**************************************************************************************************************************************#}{% endblock %}
