{#**************************************************************************************************************************************#}
{% extends 'base.html.twig' %}
{#**************************************************************************************************************************************#}

{% block title %}{% endblock %}

{% block body %}


	<div class="container">


		<div class="alert alert-primary" role="alert">

			<a data-toggle="collapse" href="#articles" aria-expanded="false">
				{{ result }}
			</a>
		</div>

	{% endblock %}
