{% extends 'base.html.twig' %}

{% block body %}


	<button type="button" class="btn btn-info">
		<a href={{path( 'RCLink')}} >
			<i class='fas fa-link' title='Retour au service des liens '> </i>
		</a>
	</button>

	<p>

	<div class="alert alert-success">
		<strong></strong>
		{{ message }}

	</div>







{% endblock %}
