{#**************************************************************************************************************************************#}

{#  style for navbar and sidebar#}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"> <link
rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

{#bootstrap, Jquery, popper and google chart #}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

{#  icons font and google chart JS#}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

{#  Additional style for bootstrap#}

<div class="container-fluid bg-transparent">


	{#**************************************************************************************************************************************#}
	{# Logo  #}
	{#**************************************************************************************************************************************#}

		<div class="d-flex justify-content-start"> <a href="https://www.univ-fcomte.fr/" target="_blank" title="Univ f-compte" align='left'>
			<img src="https://www.univ-fcomte.fr/sites/all/themes/ufc_central/logo.png"/>
		</a>

		<a href="http://elliadd.univ-fcomte.fr/" target="_blank" title="ELLIADD">
			<img src="{{ asset('/build/images/elliadd.png') }} " align='right'/>

		</a>
	</div>
</div>
<hr>
<br>
<br>
{#**************************************************************************************************************************************#}
{# Main page: card-text#}
{#**************************************************************************************************************************************#}{% block body %}

{% endblock %}
<hr>

{#**************************************************************************************************************************************#}
{#**************************************************************************************************************************************#}
